a2wsgi==1.10.8
absl-py==2.1.0
accelerate==0.21.0
addict==2.4.0
aenum==3.1.15
aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiosignal==1.3.2
aiosqlite==0.21.0
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.1.0
autobahn==24.4.2
Automat==24.8.1
basicsr==1.4.2
bcrypt==3.2.0
beeware==0.3.0
bentoml==1.3.21
bibtexparser==2.0.0b8
billiard==4.2.1
binaryornot==0.4.4
bleak==0.22.3
blendmodes==2022
blinker==1.9.0
blis==1.2.0
blobfile==3.0.0
boto3==1.35.34
botocore==1.35.34
briefcase==0.3.22
Brlapi==0.8.3
Brotli==1.1.0
bs4==0.0.2
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.0
captum==0.7.0
catalogue==2.0.10
cattrs==23.1.2
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
channels==4.2.0
chardet==4.0.0
charset-normalizer==3.4.0
clean-fid==0.1.35
click==8.1.8
click-didyoumean==0.3.1
click-option-group==0.5.6
click-plugins==1.1.1
click-repl==0.3.0
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
clldutils==3.24.1
cloudpathlib==0.20.0
cloudpickle==3.1.1
cmake==3.31.4
colorama==0.4.4
colorlog==6.9.0
comm==0.2.2
command-not-found==0.3
confection==0.1.5
constantly==23.10.4
contourpy==1.3.1
cookiecutter==2.6.0
cryptography==43.0.3
csvw==3.5.1
cupshelpers==1.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.11
daphne==4.1.2
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datasets==3.3.0
dbus-fast==2.28.0
dbus-python==1.2.18
debugpy==1.8.12
decorator==5.1.1
deepface==0.0.93
deepmerge==2.0
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diffusers==0.32.2
dill==0.3.8
diskcache==5.6.3
distlib==0.3.4
distro==1.7.0
distro-info==1.1+ubuntu0.2
dj-database-url==2.3.0
dj-rest-auth==7.0.0
Django==5.1.1
django-allauth==65.3.1
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-rest-auth==0.9.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
dlinfo==2.0.0
dnspython==2.7.0
docopt==0.6.2
docutils==0.21.2
duplicity==0.8.21
easyocr==1.7.2
einops==0.4.1
email_validator==2.2.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
espeakng-loader==0.2.4
exceptiongroup==1.2.2
executing==2.2.0
facexlib==0.3.0
fastapi==0.94.0
fastapi-cli==0.0.7
fasteners==0.14.1
ffmpy==0.5.0
filelock==3.6.0
filetype==1.2.0
filterpy==1.4.5
fire==0.7.0
firebase-admin==6.6.0
Flask==3.0.3
Flask-Compress==1.17
Flask-Cors==5.0.0
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fs==2.4.16
fsspec==2024.12.0
ftfy==6.3.1
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.6.0
gdcm==1.1
gdown==5.2.0
gfpgan==1.3.8
gitdb==4.0.12
GitPython==3.1.32
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-firestore==2.20.1
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
gotrue==2.11.2
gradio==3.41.2
gradio_client==0.5.0
greenlet==3.1.1
grpcio==1.71.0rc2
grpcio-status==1.71.0rc2
gunicorn==23.0.0
gyp==0.1
h11==0.12.0
h2==4.1.0
h5py==3.12.1
haystack-ai==2.9.0
haystack-experimental==0.4.0
hpack==4.1.0
httpcore==0.15.0
httplib2==0.20.2
httptools==0.6.4
httpx==0.24.1
httpx-ws==0.7.1
huggingface-hub==0.28.1
hyperframe==6.1.0
hyperlink==21.0.0
HyperPyYAML==1.2.2
idna==3.10
imageio==2.36.1
imbalanced-learn==0.13.0
imblearn==0.0
img2pdf==0.5.1
importlib_metadata==8.5.0
importlib_resources==6.5.2
incremental==24.7.2
inflection==0.5.1
inquirerpy==0.3.4
iotop==0.6
ipykernel==6.29.5
ipython==8.32.0
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
jeepney==0.7.1
jellyfish==1.1.3
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.4.2
jsonmerge==1.8.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kantoku==0.18.1
keyring==23.5.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kivymd==1.2.0
kiwisolver==1.4.8
kokoro==0.7.16
kombu==5.4.2
kornia==0.6.7
langcodes==3.5.0
language-selector==0.1
language-tags==1.2.0
language_data==1.3.0
lark==1.1.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_imports==0.4.0
lazy_loader==0.4
Levenshtein==0.26.1
libclang==18.1.1
librosa==0.10.2.post1
lightning==2.5.0.post0
lightning-utilities==0.11.9
lit==18.1.8
llama_models==0.1.2
llama_stack==0.1.2
llama_stack_client==0.1.2
llvmlite==0.44.0
lmdb==1.6.2
lockfile==0.12.2
loguru==0.7.3
louis==3.20.0
lxml==5.3.0
lz4==4.4.3
macaroonbakery==1.3.1
Mako==1.1.3
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.0.0
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mef-tools==1.2.3
misaki==0.7.17
ml-dtypes==0.4.1
modin==0.32.0
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.1.0
mtcnn==1.0.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.12
namex==0.0.8
narwhals==1.23.0
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
num2words==0.5.14
numba==0.61.0
numpy==1.26.2
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.4.127
nvidia-pyindex==1.0.9
nvidia-tensorrt==99.0.0
oauthlib==3.2.0
ocrmypdf==16.5.0
olefile==0.46
omegaconf==2.2.3
open-clip-torch==2.20.0
openai==1.59.9
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
opentelemetry-api==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-aiohttp-client==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
opt_einsum==3.4.0
optree==0.14.0
orjson==3.10.15
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
paramiko==2.9.3
parso==0.8.4
pathspec==0.12.1
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.8.0
pfzy==0.3.4
phonemizer-fork==3.3.2
pi_heif==0.20.0
piexif==1.1.3
pikepdf==9.3.0
Pillow==9.5.0
pillow-avif-plugin==1.4.3
pip-requirements-parser==32.0.1
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
pooch==1.8.2
postgrest==0.19.3
posthog==3.8.4
pprint36==3.9.16.0
preshed==3.0.9
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==5.9.5
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaml==25.1.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyBluez==0.23
pybluez2==0.46
pycairo==1.20.1
pyclipper==1.3.0.post6
pycparser==2.22
pycryptodomex==3.21.0
pycups==2.0.1
pydantic==1.10.21
pydantic_core==2.27.2
pydeck==0.9.1
pydicom==3.0.1
pydub==0.25.1
Pygments==2.18.0
PyGObject==3.50.0
PyJWT==2.10.1
pylatexenc==2.10
pylibjpeg==2.0.1
pylibjpeg-libjpeg==2.3.0
pylibjpeg-openjpeg==2.4.0
pymacaroons==0.13.0
pymef==1.4.5
PyMuPDF==1.24.11
pymupdf4llm==0.0.17
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyparsing==2.4.7
pypdf==5.1.0
PyPDF2==3.0.1
pypdfium2==4.30.0
pyphen==0.17.2
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
pyRFC3339==1.1
pyserial==3.5
PySocks==1.7.1
pytesseract==0.3.13
python-apt==2.4.0+ubuntu4
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-decouple==3.8
python-dotenv==1.0.1
python-json-logger==3.2.1
python-Levenshtein==0.26.1
python-multipart==0.0.20
python-slugify==8.0.4
python-xlib==0.29
python3-openid==3.2.0
pytorch-lightning==1.9.4
pyttsx3==2.98
pytz==2024.2
pyudev==0.22.0
PyWavelets==1.8.0
pyxdg==0.27
PyYAML==5.4.1
pyzbar==0.1.9
pyzmq==26.2.1
qrcode==8.0
questionary==2.1.0
RapidFuzz==3.10.1
ray==2.42.0
rdflib==7.1.3
realesrgan @ git+https://github.com/xinntao/Real-ESRGAN.git@a4abfb2979a7bbff3f69f58f58ae324608821e27
realtime==2.2.0
redis==5.2.1
referencing==0.36.1
regex==2024.11.6
reportlab==3.6.8
requests==2.32.3
requests-oauthlib==2.0.0
resize-right==0.0.2
retina-face==0.0.17
retrying==1.3.4
rfc3986==1.5.0
rich==13.9.2
rich-toolkit==0.13.2
rpds-py==0.22.3
rsa==4.9
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
ruff==0.9.2
s3transfer==0.10.2
safehttpx==0.1.6
safetensors==0.4.2
schema==0.7.7
scikit-image==0.21.0
scikit-learn==1.6.1
scipy==1.15.0
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
segments==2.2.1
selenium==4.27.1
semantic-version==2.10.0
sentencepiece==0.2.0
service-identity==24.2.0
shapely==2.0.6
shellingham==1.5.4
simple-di==0.1.5
six==1.16.0
sklearn-compat==0.1.3
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
social-auth-app-django==5.4.2
social-auth-core==4.5.4
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.4
spacy-curated-transformers==0.3.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spandrel==0.3.4
spandrel_extra_arches==0.1.1
speechbrain==1.0.2
SpeechRecognition==3.14.1
SQLAlchemy==1.4.0
sqlparse==0.5.1
srsly==2.5.1
srt==3.5.3
stack-data==0.6.3
starlette==0.26.1
storage3==0.11.1
streamlit==1.41.1
StrEnum==0.4.15
supabase==2.12.0
supafunc==0.9.2
supervision==0.25.1
sympy==1.13.1
systemd-python==234
tabulate==0.9.0
tb-nightly==2.20.0a20250221
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.37.1
tensorrt==10.8.0.43
tensorrt_cu12==10.8.0.43
tensorrt_cu12_bindings==10.8.0.43
tensorrt_cu12_libs==10.8.0.43
termcolor==2.5.0
text-unidecode==1.3
textstat==0.7.4
tf_keras==2.18.0
thinc==8.3.4
threadpoolctl==3.5.0
tifffile==2024.12.12
tiktoken==0.8.0
timm==1.0.14
tkintertable==1.3.3
toga==0.4.9
toga-core==0.4.9
toga-gtk==0.4.9
tokenizers==0.13.3
tomesd==0.1.3
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchdiffeq==0.2.3
torchmetrics==1.6.1
torchsde==0.2.6
torchvision==0.21.0+cu118
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
trampoline==0.1.2
transformers==4.30.2
travertino==0.3.0
trio==0.27.0
trio-websocket==0.11.1
triton==3.2.0
Twisted==24.11.0
txaio==23.1.1
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
ultralytics==8.3.75
ultralytics-thop==2.0.14
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==2.2.3
usb-creator==0.3.7
uv==0.5.30
uvicorn==0.34.0
uvloop==0.21.0
vine==5.1.0
virtualenv==20.13.0+ds
vosk==0.3.45
wadllib==1.3.6
wasabi==1.1.3
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.6
wrapt==1.16.0
wsproto==1.2.0
xdg==5
xformers==0.0.29.post1
xgboost==2.1.4
xkit==0.0.0
xxhash==3.5.0
yapf==0.43.0
yarl==1.18.3
zipp==3.21.0
zope.interface==7.2
zstandard==0.23.0
